config leds
    option name 'POWER'
    option sysfs 'q1:channel0'
    option trigger 'default-on'
    option color '1 1 1'
    option enable '1'

config leds
    option name 'WAN'
    option sysfs 'q1:channel1'
    option trigger 'netdev'
    option dev 'wan'
    option modes 'link,tx,rx'
    option color '1 1 1'
    option enable '1'

config leds
    option name 'LAN10G'
    option sysfs 'q1:channel2'
    option trigger 'netdev'
    option dev '10g'
    option modes 'link,tx,rx'
    option color '1 1 1'
    option enable '1'

config leds
    option name 'WLAN5G'
    option sysfs 'q2:channel0'
    option trigger 'netdev'
    option dev 'phy0-ap0'
    option modes 'link,tx,rx'
    option color '1 1 1'
    option enable '1'

config leds
    option name 'WLAN2G'
    option sysfs 'q2:channel1'
    option trigger 'netdev'
    option dev 'phy1-ap0'
    option modes 'link,tx,rx'
    option color '1 1 1'
    option enable '1'
